<label>{{Ques.description}}</label>
<br> {{#radio-button radioClass = "radioClass" value = Ques.option1 name = Ques.id groupValue=Ques.ans}} {{Ques.option1}} {{/radio-button}}
<br> {{#radio-button radioClass = "radioClass" value = Ques.option2 name = Ques.id groupValue=Ques.ans}} {{Ques.option2}} {{/radio-button}}
<br> {{#radio-button radioClass = "radioClass" value = Ques.option3 name = Ques.id groupValue=Ques.ans}} {{Ques.option3}} {{/radio-button}}
<br> {{#radio-button radioClass = "radioClass" value = Ques.option4 name = Ques.id groupValue=Ques.ans}} {{Ques.option4}} {{/radio-button}}
<br>

selected value is : {{Ques.ans}}