

<select {{action 'change' on='change'}}>
        <option default>--Select your {{dropdowntype}}--</option>
        {{#each listitem as |item|}}
        <option value={{item}} selected={{selecteditem}}>{{item}} </option>
        {{/each}}
</select>

{{selecteditem}}
