<div class="register-box">
   <div class="register-box-body">
      <div class="col-md-6-header">
        <h4>Add Questions</h4>
      </div>
      <div class="col-md-6-btm">
         <div class="form-group">
            <br>
            <label class="col-sm-4">Question</label>
            <div class="input-group">
               
               {{validated-input type="text" model=this valuePath='question' placeholder='Question'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4"></label>
            <div class="input-group">
               
               {{validated-input type="text" model=this valuePath='option1' placeholder='Option1'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4"></label>
            <div class="input-group">
              
               {{validated-input type="option2" model=this valuePath='phonenumber' placeholder='Option2'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4"></label>
            <div class="input-group">
               
               {{validated-input type="text" model=this valuePath='option3' placeholder='Option3'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4"></label>
            <div class="input-group">
               
               {{validated-input type="text" model=this valuePath='option4' placeholder='Option4'}}
            </div>
            <br>
         </div>

          <div class="form-group">
            <label class="col-sm-4"></label>
            <div class="input-group">
               
               {{validated-input type="text" model=this valuePath='answer' placeholder='Answer'}}
            </div>
            <br>
         </div>
         <div class = "testlist">
          <br> {{select-component dropdowntype="test" listitem=testlist selecteditemlist=selectedtest}}
         </div>
         <div class="btn-taketest">
            <button type="button" class="btn btn-primary" {{action 'registerUser'}} disabled= {{v-get this 'isInvalid'}}> Submit</button>
         </div>
      </div>
   </div>
</div>
