
<div>
    <div class="align-q">
        <div class="test-head">
            <h4>Please Start With {{testType}} Test..!!</h4>
        </div>
        <br> {{#each model as |item|}} {{question-comp Ques=item}}
        <br> {{/each}}
    </div>

        {{#each model as |item|}} 
                {{item.id}}<br>
                {{item.ans}}
        <br> {{/each}}


    <div class="btn-calscore">

        <button type="button" class="btn btn-primary" {{action "toggleModal"}}>Calculate Score</button>
    </div>

    {{#if isShowingModal}} {{#modal-dialog targetAttachment="center" translucentOverlay=true}}
    <div>
        congratulations..!!
        <br> Your Score Is{{score}}
        <br>
        <button type="button" class="btn btn-success" {{action "toggleModalOk"}}>OK</button>
    </div>
    {{/modal-dialog}} {{/if}}
   
</div>