<div class="register-box">
   <div class="register-box-body">
      <div class="col-md-6-header">
         <h4>Register Here...!!!</h4>
      </div>
      <div class="col-md-6-btm">
         <div class="form-group">
            <br>
            <label class="col-sm-4">First Name</label>
            <div class="input-group">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
               </div>
               {{validated-input type="text" model=this valuePath='firstname' placeholder='First Name'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4">Last Name</label>
            <div class="input-group">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
               </div>
               {{validated-input type="text" model=this valuePath='lastname' placeholder='Last Name'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4">Phone</label>
            <div class="input-group">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-earphone"></span>
               </div>
               {{validated-input type="number" model=this valuePath='phonenumber' placeholder='Phone Number'}}
            </div>
            <br>
         </div>
         <div class="form-group">
            <label class="col-sm-4">Email</label>
            <div class="input-group">
               <div class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope"></span>
               </div>
               {{validated-input type="text" model=this valuePath='email' placeholder='Email'}}
            </div>
            <br>
         </div>
         <div class="btn-taketest">
            <button type="button" class="btn btn-primary" {{action 'registerUser'}} disabled= {{v-get this 'isInvalid'}}> Take Test</button>
         </div>
      </div>
   </div>
</div>