<div class="register-box">
    <div class="register-box-body">
        <div class="col-md-6-header">
            <h4>Register Here...!!!</h4>
        </div>
        <div class="col-md-6-btm">
            <div class="form-group">
                <br>
                <label class="col-sm-4">First Name</label>
                {{input type="text" valueBinding="fname" class="col-sm-7" id="fname" placeholder="First Name"}}
                <span class="errmsg">{{errorMessage}}</span>
                <br>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4">Last Name</label>
                {{input type="text" class="col-sm-7" id="lname" placeholder="Last Name"}}
                <br>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4">Phone</label>
                {{input type="text" class="col-sm-7" id="phone" placeholder="Phone Number"}}
                <span class="glyphicone glyphicon-earphone  form-control-feedback"></span>
                <br>
            </div>
            <br>
            <div class="form-group">
                <label class="col-sm-4">Email</label>
                {{input type="text" class="col-sm-7" id="email" placeholder="Email-Id"}}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <br>
            </div>
            <br>

            <div class="btn-taketest">
                <button type="button" class="btn btn-primary" {{action 'taketest'}}> Take Test</button>

            </div>
        </div>

    </div>
</div>